### Project ###
Sbt-Scala-Spark/Spark-Sub/src/test/resources/integration/dataset/input/*
Sbt-Scala-Spark/Spark-Sub/src/test/resources/integration/dataset/output/*

### Macintosh ###
.DS_Store

### IntelliJ ###
.idea/
out/

### Visual Code ###
*.vscode

### Metals ###
*.metals

### Maven ###
target/

### Simple Build Tool ###
target/
.bsp/

### Apache Spark ###
derby.log
