### Project ###
Sbt-Scala-Spark/Spark-Sub/src/test/resources/dataset

### Macintosh ###
.DS_Store

### IntelliJ ###
.idea/
out/

### Visual Code ###
*.vscode

### Metals ###
*.metals

### Maven ###
target/

### Simple Build Tool ###
target/
project/
.bsp/

### Apache Spark ###
derby.log
